<div class="tweetsummary">
  <div id="today">
    <h3 class="subheader">Today</h3>
  </div>
  <div id="upcoming-tweets">
    <h3 class="subheader ">Upcoming</h3>
  </div>
  <div id="past-tweets">
    <h3 class="subheader">Past</h3>
  </div>
</div>
