<div class="small-3 columns">
<%=render "layouts/sidenav" %>
</div>

<div class="small-9 columns">
<div class='contain-to-grid'>
<nav class="top-bar">
    <ul class="title-area">
      <!-- Title Area -->
      <li class ="name">
      </li>

    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    <section class="top-bar-section">
    <!-- Left Nav Section -->
      <ul class="left">
      </ul>
      <!-- Right Nav Section -->
      <ul class="right">
      </ul>
  </section>
  </nav>
</div>
