<ul class="side-nav">
  <li class="active"><h3 class="subheader"><%= link_to "Compose a Tweet", root_path %></h3></li>
  <li class="active"><h3 class="subheader"><a href="#">Tweet Summary</a></h3></li>
  <li><h3 class="subheader"><a href="#">Reports</a></h3></li>
  <li><h3 class="subheader"><a href="#">Dashboard</a></h3></li>
  <li><h2>Super Admin Only Below</h2></li>
  <li><h3 class="subheader"><%= link_to "Manage All Characters", source_materials_path %></h3></li>
  <li><h3 class="subheader"><%= link_to "Manage All Users", admin_users_path %></h3></li>
</ul>
