  <h2>Source Materials</h2>
  <% @source_materials.each do |source| %>
    <%= link_to source.title, source %></br>
  <% end %>
  <% admins_only do %>
  <%= link_to "New Source Material", new_source_material_path, :class => "button" %></br>
  <% end %>

