// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tweetsummary {
  h3 {
      font-size: 1.25em;
      border: 1px dotted rgba(52,54,56,.4);
      border-width: 1px 0;
      padding: 8px 10px;
      margin-bottom: 20px;
    }
}
