<div class="section-auto-sample-vtabs" data-section="vertical-tabs">
  <section>
    <p class="title-sample" data-section-title><a href="#section1">Section 1</a></p>
    <div class="content-sample" data-slug="section1" data-section-content>
      <p>Content of section 1.</p>
    </div>
  </section>
  <section>
    <p class="title-sample" data-section-title><a href="#section2">Section 2</a></p>
    <div class="content-sample" data-slug="section2" data-section-content>
      <p>Content of section 2.</p>
    </div>
  </section>
</div>
